@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$newbie:10%;
$junior:40%;
$intemediate:70%;
$advanced:90%;
$guru: 95%;

* {
    box-sizing: border-box;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: #0F1624;

}

.fc {
    color: white;
}

.fcp {
    color: #929eb0;

}

.border {
    border: 2px solid red;
}

//LAYOUT STYLES 
.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}
.section-pad{
    padding: 0 20px;
}
.section-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.min-width {
    min-width: 360px;
    margin: 0 auto;
}

.max-width {
    width: 100%;
    max-width: 70rem;
    margin:0 auto;
}

.header {
    
    margin-bottom: 3rem;

    &__container {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }


    &__logo {
        grid-column: 1/8;
    }

    &__socials {
        grid-column: 8/13;

        &--icons {
            display: flex;
            justify-content: space-between;
            li a{
                opacity: .8;
            }
        }
    }

    &__navigation {
        grid-column: 1/13;

        &--nav-links {
            display: flex;
            justify-content: space-between;

        }
    }
}

@media (min-width:768px) {
    .header {
        margin-bottom: 10rem;

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__logo {
            order: -2;
        }

        &__navigation {
            order: -1;

            &--nav-links {
                gap: 3rem;
            }
        }

        &__socials {
            order: 1;

            &--icons {
                gap: 1.25rem;
            }
        }
    }

    //TYPOGRAPHY
    .header{
        &__navigation {
    
            &--nav-links {
    
                li a {
                    
                    font-size: 18px !important;
                    font-weight: 600;
                }
            }
        }
    }
}
@media(min-width:992px){
    .header{
        &__socials{
            &--icons{
                li a:hover{
                    opacity: 1;
                }
            }
        }
        &__navigation{
            &--nav-links{
                li{
                    position: relative;
                }
                li a::after{
                    content: "";
                    position: absolute;
                    left: 1px;
                    right: 1px;
                    bottom: -3px;
                    height: 2px;
                    background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
                    transform: scaleX(0);
                    transform-origin: left center;
                    transition: transform 0.3s ease-in-out;
                    border-radius: 2px;
                }
                li a:hover::after{
                    transform: scaleX(1);
                }
            }
        }
    }
}


.description {
    &__container {
        padding: 0 20px;
        margin: 0 auto;
    }
    &__image {
        width: 205px;
        border-radius: 50%;
        padding: 2px;
        background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
        box-shadow: 0px 20px 50px 0px rgba(0, 178, 255, 0.25);
        position: relative;
        .rodney-himself {
            width: 205px;
            max-width: 100%;
            display: block;
            border-radius: 50%;
        }
    }

    &__image::before {
        content: "";
        display: block;
        width: 367px;
        height: 367px;
        background-image: url('../images/big-ellipse.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 2px;
        left: -200px;
        z-index: -2;


    }

    &__image::after {
        display: block;
        content: "";
        width: 113px;
        height: 113px;
        background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
        position: absolute;
        border-radius: 50%;
        top: 120px;
        left: 140px;
        z-index: -1;
        filter: drop-shadow(0px 10px 30px rgba(0, 178, 255, 0.35));
    }

    &__button {
        text-decoration: none;
        text-align: center;
        background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
        padding: 1rem;
        border-radius: 30px;
        width: 156px;
        margin-top: 2rem;
        transition: all 0.3s ease, transform 0.2s ease;
        box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
    }
    &__button:hover{
        background-image: linear-gradient(270deg, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
        box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.5);
        transform: scale(1.05);
    }
}
@media(min-width:200px) and (max-width:768px){
    .description{
        &__container{
            width: 260px;
            margin: 0 auto;
        }
    }
}
@media(min-width:768px) {

    //LAYOUT
    .description {
        &__heading {
            width: 100% !important;
            margin-bottom: 2rem;
        }

        

        &__image {
            width: 301px !important;
            height: 301px !important;
            .rodney-himself {
                width: 299px !important;
            }

        }

        &__image::before {
            content: "";
            width: 532px;
            height: 532px;
            top: 65px;
            left: -270px;
        }

        &__image::after {
            content: "";
            width: 164px;
            height: 164px;
            left: 200px;
            top: 180px;
        }
        &__button{
       
            width:180px;
            padding: 1.3rem;
            border-radius: 50px;
        }
      


    }

    //TYPOGRAPHY
    .description {
        &__heading {
            font-size: 64px !important;

            span {
                font-size: 64px !important;
            }
        }
        &__button{
            font-weight: 700;
        }
    }
}
@media(min-width:1200px){
    .description{
        &__container{
            position: relative;
        }
        &__heading{
            margin-bottom: 34px;
        }
        &__text{
          position: absolute;
          left: 0;
          top:200px;
          max-width: 720px !important;
        }
        &__image{
            position: absolute;
            right: 150px;
            top: -50px;
        }
        &__button{
            position: absolute;
            top:300px;
            width: 10rem;
        }
    }
}

.projects {
    margin-top: 8rem;
    margin-bottom: 8rem;
    .projects-heading__container{
        padding: 0 2rem;
        margin-bottom: 2rem;
    }
    &__container {
        gap: 2rem;

        padding: 0 2rem;

    }

    &__container>* {
        grid-column: 1/-1;
    }

    &__project-container {
        padding: 1px; // this is to just see the bgc of this container and use it as border
        border-radius: 20px;
        background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
        width: fit-content;

        .project {
            background-color: #0F1624;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.3rem;
            width: 20rem;
            border-radius: 20px;

            .button__container {
                display: flex;
                justify-content: space-between;

                .project__live-btn {
                    text-decoration: none;
                    background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
                    padding: 1rem;
                    border-radius: 30px;
                    width: fit-content;
                    text-align: center;
                    box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
                }
                .project__live-btn:hover{
                    
                        background-image: linear-gradient(270deg, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
                        box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.5);
                        transform: scale(1.05);
                    
                }

                .project__git-btn {
                    text-decoration: none;
                    border: 2px solid white;
                    background-color: #0F1624;
                    padding: 1rem;
                    border-radius: 30px;
                    width: 8rem;
                    text-align: center;
                }
                .project__git-btn:hover{
                    transform: scale(1.05);
                }
            }
        }

        .project__image {
            min-width: 16rem;
            img {
                display: block;
                max-width: 100%;



            }
        }
    }

}
//Projects- Responsive
@media (min-width:360px){
    .projects{
        &__project-container{
            max-width: 570px;
            width: 100%;
            .project{
                height: 100%;
                width: 100%;
                
            }
        }
    }
}
@media (min-width:768px) {

    .projects{
        margin-top: 14rem !important;
        &__heading{
            margin-bottom: 3rem;
        }

    }
    //TYPOGRAPHY
    .projects{
        &__heading{
            font-size:2.5rem !important;
        }
    }
}
@media (min-width:1200px){
    .projects{
        margin-top: 25rem !important;
        &__project-container{
           
            .project{
                position: relative;
                &__description{
                    margin-bottom: 4rem;
                }
                &__image{
                    overflow: hidden;
                    height: 300px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                
                .button__container{
                    width: 100%;
                    position: absolute;
                    bottom: 28px;
                    justify-content: flex-start;
                    gap: 4rem;
                }
            }
        }
        &__container{
            grid-template-columns: 1fr 1fr;
            gap:1rem;
        }
      .proj1{
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .proj2{
        grid-column: 2/3;
        gap: 2rem;
      }

    }
}

.technologies {
    margin-bottom: 3rem;
    &__container {
        padding: 2rem;
    }

    &__heading {
        margin-bottom: 2rem;
    }

    &__skills {
        margin-bottom: 2rem;

        .language__level {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        .loading {
            height: 10px;
            background-color: #162950;
            width: 100%;
            border-radius: 20px;

            .indicator {
                background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
                height: 100%;
                border-radius: 20px;
            }

            .adv {
                width: $advanced;
            }

            .int {
                width: $intemediate;

            }

            .jnr {
                width: $junior;
            }

            .nwb {
                width: $newbie;
            }
        }
    }
}

@media (min-width:768px) {
    .technologies{
        &__heading{
            margin-bottom: 4rem;
        }
        &__skills{
            .loading{
                height: 24px;
            }
            margin-bottom: 4rem;
        }
    }
    //TYPOGRAPHY
    .technologies{
        &__skills{
            .loading{
                .indicator{
                    box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
                }
            }
            .language__level span:first-of-type{
               font-size: 30px;
               font-weight: 600;
            }
            .language__level span:last-child{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

.additional-tech {
    &__container {
        padding: 2rem;
    }

    &__heading {
        margin-bottom: 2rem;

    }

    &__skills {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;

        .bullet {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
            box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
        }
    }
}

@media(min-width:400px) {

    .additional-tech {
        .additional-heading__container{
            padding:0 2rem;
        }
        &__container {
            display: flex;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 30px;
            gap: 2rem;
        }
        &__skills{
            width:45%;
            .bullet{
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.about-me {
    &__heading {
        margin-bottom: 2rem;
    }

    &__timeline {
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow: hidden;

        .item {
            &__separator {
                position: relative;
                flex: 0 0 12px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
                box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
            }

            &__separator::after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 2px;
                height: 200px;
                background-color: white;
                left: 5px;
                top: -200px;
                z-index: -1;
            }

            .last::after {
                display: none;
            }
        }
    }

    &__item {
        display: flex;
        // flex-basis: auto;
        flex-direction: row;
        gap: 27px;

        
    }

    margin-bottom: 2rem;

}

@media(min-width:768px) {
    .about-me {
        margin-bottom: 5rem !important;
        // &__container {
        //     margin: 0 auto;
        // }

        &__timeline {
            flex-direction: row;

        }

        &__item {
            flex-direction: column;
            .item {
                &__separator{
                    flex: 0 0 24px;
                    width: 24px;
                    height: 24px;
                }
                &__separator::after {
                    content: "";
                    width: 1400px;
                    height: 2px;
                    background-color: white;
                    left: -1400px;
                    top: 12px;             
                }
            }
        }
    }
}

.contacts {
    padding: 0 20px;

    &__container {
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between   ;
        align-items: center;
        gap: 1rem;


    }
    

    &__socials {
        flex: 0 0 12rem;
    }

    &__socials--icons {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        li a{
            opacity: .8;
        }
    }

    &__cta-container {
        flex: 0 0 12rem;
    }

    &__cta {
        background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
    }

    margin-bottom: 2rem;
}

@media (min-width:768px) {
    .contacts{
        &__socials{
            &--icons{
                li a:hover{
                    opacity: 1;
                }
            }
        }
    }
}




//TYPOGRAPHY

.header {


    &__logo {
        font-size: 1.5rem;
        font-weight: 700;
        a{
            text-decoration: none;
            color: white;
        }
    }

    &__socials {

        &--icons {
            font-size: 2rem;


        }
    }

    &__navigation {
        grid-column: 1/13;

        &--nav-links {
            display: flex;
            justify-content: space-between;

            li a {
                text-decoration: none;
                color: white;
                font-size: 1rem;
            }
        }
    }
}

.description {
    span {
        background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
        color: transparent;
        background-clip: text;
        font-size: 2rem;
        font-weight: 700;
    }

    &__heading {

        font-size: 1.8rem;
        font-weight: 700;
    }

    &__text {

        
        line-height: 1.5;
    }
}

.projects {
    &__heading {

        font-weight: 700;
        font-size: 1.25rem;
    }

    &__project-container {
        .project {
            &__heading {
                font-size: 1rem;
                font-weight: 700;
            }

            &__description {
                font-size: 0.875rem;
                line-height: 1.5;
            }
        }
    }
}

.technologies {
    &__heading {
        font-size: 1.25rem;
        font-weight: 700;
    }

    &__skills {
        .language__level {
            span {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}

.additional-tech {
    &__heading {
        font-size: 1.25rem;
        font-weight: 700;
    }

    &__skills {
        font-size: 1rem;
        font-weight: 600;
    }
}

.contacts {

    &__email {
        text-decoration: none;
    }

    &__cta {
        background-clip: text;
        color: transparent;
        font-weight: 600;
    }
}

//GLOBAL STYLES
@media (min-width:768px) {
    html {
        font-size: 18px !important;
    }
    .section-title{
        font-size: 2.5rem !important;
        font-weight: 700;
    }
    .max-width {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .max-width {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    html{
        font-size: 20px !important;
    }
    .max-width {
        max-width: 1170px;
    }
}