@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$newbie:10%;
$junior:40%;
$intemediate:70%;
$advanced:90%;
$guru: 95%;
* {
    box-sizing: border-box;
    padding:0;
}

body {
    margin: 0;
    font-family:  "Poppins", Arial, Helvetica, sans-serif;
    background-color: #0F1624;
  
}

.fc{
    color: white;
} 
.fcp{
    color:#929eb0;
    
}
.border {
    border: 2px solid red;
}

//LAYOUT STYLES 
.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.section-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.min-width {
    min-width: 360px;
}

.max-width {
    width: 100%;
    max-width: 70rem;
}

.header {
    margin-bottom: 3rem;

    &__container {
        padding: 1rem;
    }


    &__logo {
        grid-column: 1/8;
    }

    &__socials {
        grid-column: 8/13;

        &--icons {
            display: flex;
            justify-content: space-between;
        }
    }

    &__navigation {
        grid-column: 1/13;

        &--nav-links {
            display: flex;
            justify-content: space-between;

        }
    }
}

.description {
    &__container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__image {

        margin-top: 2rem;
        width: fit-content;
        border-radius: 50%;
        padding: 2px;
        background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
        box-shadow: 0px 20px 50px 0px rgba(0, 178, 255, 0.25);
        position: relative;

        .rodney-himself {
            max-width: 100%;
            display: block;
            border-radius: 50%;


        }

    }

    &__image::before {
        content: "";
        display: block;
        width: 367px;
        height: 367px;
        background-image: url('../images/big-ellipse.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 2px;
        left: -200px;
        z-index: -2;
        

    }

    &__image::after {
        display: block;
        content: "";
        width: 113px;
        height: 113px;
        background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
        position: absolute;
        border-radius: 50%;
        top: 120px;
        left: 120px;
        z-index: -1;
        filter: drop-shadow(0px 10px 30px rgba(0, 178, 255, 0.35));
    }
    &__button{
        text-decoration: none;
        
        background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
        padding:1rem;
        border-radius: 30px ;
        width: fit-content;
        margin-top: 4rem;
        margin-left: 2rem;
    }
}

.projects{
    margin-top: 8rem;
   
    &__container{
        gap:2rem;
      
        padding:0 2rem;
       
    }
    &__container > *{
        grid-column: 1/-1;
    }
  
    &__project-container{
        padding: 1px; // this is to just see the bgc of this container and use it as border
        border-radius: 20px;
        background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
        width: fit-content;
        .project{
            background-color: #0F1624; 
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.3rem;
           width:20rem;
            border-radius: 20px;
            
            .button__container{
                display: flex;
                justify-content: space-between;
                .project__live-btn{
                 text-decoration: none;
                 background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
                 padding:1rem;
                 border-radius: 30px ;
                 width: fit-content;
                 text-align: center;
                 box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
                }
                .project__git-btn{
                 text-decoration: none;
                 border: 2px solid white;
                 background-color: #0F1624;
                 padding:1rem;
                 border-radius: 30px ;
                 width: 8rem;
                 text-align: center;
                }
            }
        }

        .project__image{
            border: 2px solid purple;
            min-width:16rem;
            
            img{
                display: block;
                max-width: 100%;
              
                
                
            }
        }
    }
   
}
.technologies{
    &__container{
        padding: 2rem;
    }
    &__heading{
        margin-bottom: 2rem;
    }
    &__skills{
        margin-bottom: 2rem;  
        .language__level{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }
        .loading{
            height: 10px;
            background-color: #162950;
            width: 100%;
            border-radius: 20px;
            
           .indicator{
            background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
            height:100%;
            border-radius: 20px;
           }
           .adv{
            width: $advanced;
           }
           .int{
            width: $intemediate;
          
           }
           .jnr{
            width: $junior;
           }
           .nwb{
            width: $newbie;
           }
        }
    }
}
.additional-tech{
    &__container{
        padding: 2rem;
    }
    &__heading{
        margin-bottom: 2rem;

    }
    &__skills{
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;
        .bullet{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
            box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
        }
    }
}
.about-me{
    padding: 0 20px;
    &__heading{
        margin-bottom: 2rem;
    }
    &__timeline{
        display: flex;   
        flex-direction: column;  
        gap:30px;
        overflow: hidden;   
        
         .item{
            &__separator{
                position: relative;
                flex: 0 0 12px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
                box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
                }
                &__separator::after{
                    content: "";
                    position: absolute;
                    display: inline-block;
                    width: 2px;
                    height: 200px;
                    background-color: white;
                    left:5px;
                    top:-200px;
                    z-index: -1;
                }
               
                .last::after{
                    display: none;
                }
         }
    }
    &__item{
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        gap: 27px;; 
    }
  margin-bottom: 2rem;

}

.contacts{
    padding: 0 20px;
    &__container{
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        
        
    }
    &__socials{
        flex: 0 0 40%;
    }
    &__socials--icons{
        display: flex;
        justify-content: space-between;
        font-size:2rem
    }
    &__cta-container{
        flex: 0 0 49%;
    }
    &__cta{
        background:  linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
    }
    margin-bottom: 2rem;
}





//TYPOGRAPHY

.header {
  

    &__logo {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__socials {

        &--icons {
            font-size: 2rem;

           
        }
    }

    &__navigation {
        grid-column: 1/13;

        &--nav-links {
            display: flex;
            justify-content: space-between;

            li a {
                text-decoration: none;
                color: white;
                font-size: 1.3rem;
            }
        }
    }
}

.description {
    .headingBlue {
        background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
        color: transparent;
        background-clip: text;
        font-size: 2rem;
        font-weight: 700;
    }

    &__heading {
       
        font-size: 1.8rem;
        font-weight: 700;
    }

    &__text {
      
        // opacity: 0.6;
        font-size: 0.875rem;
        line-height: 1.5;
    }
}

.projects{
    &__heading{
        
        font-weight: 700;
        // font-size: 2rem;
    }
    &__project-container{
        .project{
            &__heading{
                font-size: 1rem;
                font-weight: 700;
            }
            &__description{
                font-size: 0.875rem;
                line-height: 1.5;
            }
        }
    }
}
.technologies{
   &__heading{
    font-size: 1.25rem;
    font-weight: 700;
   }
   &__skills{
    .language__level{
        span{
            font-size: 12px;
            font-weight: 500;
        }
    }
   }
}
.additional-tech{
    &__heading{
        font-size: 1.25rem;
        font-weight: 700;
    }
    &__skills{
        font-size: 1rem;
        font-weight: 600;
    }
}
.contacts{

    &__email{
        text-decoration: none;
    }
    &__cta{
       background-clip: text;
       color: transparent;
       font-weight: 600;
    }
}
@media(min-width:767px){
    .about-me{
        &__timeline{
            flex-direction: row;
        }
        &__item{
           flex-direction: column;

           .item{
            &__separator{
               
                flex: 0 0 12px;
                }
                &__separator::after{
                    display: block;
                    width: 4000%;
                    height: 2px;
                  
                    left:5px;
                    top:6px;
                    z-index: -1;
                }
              
         }
        }
    }
}